<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TarsimLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TarsimLog.Properties.Settings>
            <setting name="portName" serializeAs="String">
                <value />
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value />
            </setting>
            <setting name="AgirlikBaslangic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AgirlikBitis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KesmeBaslangic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pcAdi" serializeAs="String">
                <value />
            </setting>
            <setting name="rb2m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bolge" serializeAs="String">
                <value />
            </setting>
        </TarsimLog.Properties.Settings>
    </userSettings>
</configuration>